body, html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

.content {
  width: 100vw;
  height: 100%;
  margin-left: 8%;
  margin-top: 5%;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
